/* ====================================
Common CSS
==================================== */

img{
    max-width: 100%;
    width: 100%;
}

/* ====================================
Header area design
==================================== */

#header_area{
    padding: 20px 0px;
    background-color: #fdf0ff;
}


